.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fd6333, #f53e2d);
}

.header__navbar {
    height: var(--header-navbar-height);
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__qr {
    position: absolute;
    width: 186px;
    background-color: var(--white-color);
    left: 0;
    top: 118%;
    display: none;
}

.header__qr::before {
    position: absolute;
    content: "";
    width: 100%;
    top: -5px;
    height: 5%;
    display: block;
}

.header__qr-img {
    width: 100%;
    padding: 8px;
}

.header__qr-download {
    display: flex;
    justify-content: space-between;
    margin: 0 17px;
}

.header__qr-link {
    height: 15px;
}

.header__navbar-item--qr-pointer:hover .header__qr {
    display: block;

}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 16px;
    right: -9px;
    top: 0;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item-link--bold {
    font-weight: 500;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header-with-search {
    display: flex;
    height: var(--header-with-search-height);
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}

.search-contain {
    display: flex;
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    align-items: center;
    border-radius: 5px;
}

.search-input {
    width: 100%;
    height: 100%;
    border: none;
    margin-left: 3px;
    font-size: 1.5rem;
    padding: 0 16px;
}

.search-btn {
    width: 60px;
    height: 34px;
    border: none;
    margin-right: 3px;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.header__logo-img {
    width: 150px;
}

.shopping-cart-icon {
    width: 150px;
    text-align: center;
    color: var(--white-color);
    font-size: 2.4rem;
}